@use '../sass/instrujs';
@use '../sass/menu';

/* Path - in ../src/gauge there are *FontColore, but no CSS so consider it as well */

.skpath {
    top: 1%;
    margin-left: 1%;
    width: 98%;
    height: 5%;
    padding-top: 1px;
    margin-bottom: 1%;
    padding-bottom: 1px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

$skproplw : 5vw;
:root {
    --skpproplw: #{$skproplw};
}
.skpath.propl { font-size: $skproplw; }
$skffssz : 48px;
$skfffin :  2px;
.skpath.fixed { font-size: $skffssz; }
$skfist : 201px;
$skfiin : 100px;
@media screen and (min-width: $skfist)             { .skpath.fixed { font-size: $skffssz + $skfffin;   } }
@media screen and (min-width: $skfist + $skfiin)   { .skpath.fixed { font-size: $skffssz + 2*$skfffin; } }
@media screen and (min-width: $skfist + 2*$skfiin) { .skpath.fixed { font-size: $skffssz + 3*$skfffin; } }
@media screen and (min-width: $skfist + 3*$skfiin) { .skpath.fixed { font-size: $skffssz + 4*$skfffin; } }
@media screen and (min-width: $skfist + 4*$skfiin) { .skpath.fixed { font-size: $skffssz + 5*$skfffin; } }

.skpath.propl.day   { color: instrujs.$skpathcolorday; }
.skpath.propl.dusk  { color: instrujs.$skpathcolordusk; }
.skpath.propl.night { color: instrujs.$skpathcolornight; }
.skpath.fixed.day   { color: instrujs.$skpathcolorday; }
.skpath.fixed.dusk  { color: instrujs.$skpathcolordusk; }
.skpath.fixed.night { color: instrujs.$skpathcolornight; }

/* Chart */
.chart {
    top: 0px;
    margin-left: 1%;
    width: 98%;
    height: 75%;
    margin-bottom: 0px;
}
/* This is a placeholder for the ToastUI tooltip */
.tooltip {
    top: 0px;
    margin-left: 1%;
    width: 98%;
    height: 15%;
    margin-bottom: 0px;
}
/* This is the actual type we return for tooltip in the chart.js template */
.numchart {
    top: 1%;
    margin-left: 1%;
    width: 88%;
    padding-top: 1px;
    margin-bottom: 1%;
    padding-bottom: 1px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}
$ngproplw : 4vw;
:root {
    --ngpproplw: #{$ngproplw};
}
.numchart.propl { font-size: $ngproplw; }
$ngffssz : 10px;
$ngfffin :  1px;
.numchart.fixed { font-size: $ngffssz; }
$ngfist : 201px;
$ngfiin : 100px;
@media screen and (min-width: $ngfist)             { .numchart.fixed { font-size: $ngffssz + $ngfffin;   } }
@media screen and (min-width: $ngfist + $ngfiin)   { .numchart.fixed { font-size: $ngffssz + 2*$ngfffin; } }
@media screen and (min-width: $ngfist + 2*$ngfiin) { .numchart.fixed { font-size: $ngffssz + 3*$ngfffin; } }
@media screen and (min-width: $ngfist + 3*$ngfiin) { .numchart.fixed { font-size: $ngffssz + 4*$ngfffin; } }
@media screen and (min-width: $ngfist + 4*$ngfiin) { .numchart.fixed { font-size: $ngffssz + 5*$ngfffin; } }

.numchart.propl.day   { color: instrujs.$skpathcolorday; }
.numchart.propl.dusk  { color: instrujs.$skpathcolordusk; }
.numchart.propl.night { color: instrujs.$skpathcolornight; }
.numchart.fixed.day   { color: instrujs.$skpathcolorday; }
.numchart.fixed.dusk  { color: instrujs.$skpathcolordusk; }
.numchart.fixed.night { color: instrujs.$skpathcolornight; }

/* Bottom part is an interprocess communication (IPC) data field */
.bottom {
    top: 0px;
    margin-left: 1%;
    width: 98%;
    height: 3%;
    font-size: instrujs.$skbotfsize;
    text-align: instrujs.$skbottalign;
    font-family: instrujs.$ifontfamily;
}
.bottom.day   { color: instrujs.$skbotmcolorday; }
.bottom.dusk  { color: instrujs.$skbotmcolordusk; }
.bottom.night { color: instrujs.$skbotmcolornight; }
